In [27]:
import pandas as pd
import  numpy as np
from notebooks.online_learning.utils import plotting_utils

Take the case of phi_0, the idea is to compare the starting cluster with the final and also the outliers and anomalies

In [6]:
phi_0_df_new = pd.read_csv('../../data/output/final_experiment/no_gaussianity_trial/phi_0.csv')
phi_0_df_starting = pd.read_csv('../../data/ground/nominal_cluster/phi_one.csv')
phi_0_history_theta_df = pd.read_csv('../../data/output/final_experiment/no_gaussianity_trial/phi_0_history_theta.csv')
phi_0_outliers_df = pd.read_csv('../../data/output/final_experiment/no_gaussianity_trial/phi_0_outliers_sets.csv')

In [7]:
phi_0_df_starting.describe()

            Temp        Soc           C_1        R_0        R_1        OCV
count  60.000000  60.000000     60.000000  60.000000  60.000000  48.000000
mean   19.000000  25.000000   9338.054441   0.016977   0.029842  25.145042
std     6.689227  17.222374   4119.364769   0.006542   0.031361   0.564678
min    10.000000   0.000000    103.544660   0.010700   0.011082  23.970000
25%    10.000000  10.000000   7019.698113   0.011697   0.014969  24.644250
50%    22.500000  25.000000  10630.167240   0.015171   0.019005  25.263000
75%    25.000000  40.000000  11866.580522   0.020059   0.028063  25.613250
max    25.000000  50.000000  15492.034923   0.043449   0.153520  25.912000

In [8]:
phi_0_df_new.describe()

                                                 phi_0
count                                               60
unique                                              60
top     [1.61772856e-02 1.64317700e-02 9.36283879e+03]
freq                                                 1

Besides the different type of the savings, no point were added to the cluster phi_0, coherent with history_theta

In [9]:
phi_0_df_new.head()

                                            phi_0
0  [1.61772856e-02 1.64317700e-02 9.36283879e+03]
1  [1.66232441e-02 1.94990143e-02 9.69118293e+03]
2  [1.74201293e-02 2.33104255e-02 1.20523518e+04]
3  [1.86618104e-02 2.40554989e-02 9.30662972e+03]
4  [2.45876688e-02 3.50981233e-02 5.13923649e+03]

In [10]:
phi_0_history_theta_df.head()

Empty DataFrame
Columns: [history_theta]
Index: []

In [11]:
phi_0_outliers_df.head()

Empty DataFrame
Columns: [Outliers]
Index: []

## PHI_1

In [12]:
phi_1_df_new = pd.read_csv('../../data/output/final_experiment/no_gaussianity_trial/phi_1.csv')
phi_1_df_starting = pd.read_csv('../../data/ground/nominal_cluster/phi_two.csv')
phi_1_history_theta_df = pd.read_csv('../../data/output/final_experiment/no_gaussianity_trial/phi_1_history_theta.csv')
phi_1_outliers_df = pd.read_csv('../../data/output/final_experiment/no_gaussianity_trial/phi_1_outliers_sets.csv')

In [13]:
phi_1_df_starting.describe()

            Temp         Soc           C_1        R_0        R_1        OCV
count  60.000000   60.000000     60.000000  60.000000  60.000000  48.000000
mean   19.000000   75.000000  10898.610389   0.013090   0.015514  27.219542
std     6.689227   17.222374   3296.695650   0.003160   0.004286   0.973577
min    10.000000   50.000000   6329.622654   0.009210   0.009238  25.827000
25%    10.000000   60.000000   8070.132353   0.010474   0.011761  26.251750
50%    22.500000   75.000000  10351.731264   0.011748   0.014324  27.262500
75%    25.000000   90.000000  13357.329312   0.015858   0.018259  28.226250
max    25.000000  100.000000  19489.447086   0.019599   0.027384  28.504571

In [14]:
phi_1_df_new.describe()

                                                 phi_1
count                                               60
unique                                              60
top     [1.36122300e-02 1.43830973e-02 9.65588733e+03]
freq                                                 1

In [15]:
phi_1_outliers_df.head()

Empty DataFrame
Columns: [Outliers]
Index: []

## PHI_2

In [16]:
phi_2_df_new = pd.read_csv('../../data/output/final_experiment/no_gaussianity_trial/phi_2.csv')
phi_2_df_starting = pd.read_csv('../../data/ground/nominal_cluster/phi_three.csv')
phi_2_history_theta_df = pd.read_csv('../../data/output/final_experiment/no_gaussianity_trial/phi_2_history_theta.csv')
phi_2_outliers_df = pd.read_csv('../../data/output/final_experiment/no_gaussianity_trial/phi_2_outliers_sets.csv')

In [17]:
phi_2_df_new.describe()

                                                 phi_2
count                                               30
unique                                              30
top     [9.95109321e-03 1.06348378e-02 1.36709653e+04]
freq                                                 1

## PHI_3

In [18]:
phi_3_df_new = pd.read_csv('../../data/output/final_experiment/no_gaussianity_trial/phi_3.csv')
phi_3_df_starting = pd.read_csv('../../data/ground/nominal_cluster/phi_four.csv')
phi_3_history_theta_df = pd.read_csv('../../data/output/final_experiment/no_gaussianity_trial/phi_3_history_theta.csv')
phi_3_outliers_df = pd.read_csv('../../data/output/final_experiment/no_gaussianity_trial/phi_3_outliers_sets.csv')

In [32]:
phi_3_df_starting.head(30)

    Temp  Soc           C_1       R_0       R_1        OCV
0     30   50  13001.023275  0.008855  0.010409        NaN
1     30   60  13018.518124  0.008932  0.008997        NaN
2     30   70  11737.192141  0.009575  0.012062        NaN
3     30   80  14645.139083  0.009490  0.016169        NaN
4     30   90  18951.891058  0.009830  0.011122        NaN
5     30  100  13670.965302  0.009951  0.010635        NaN
6     35   50  14010.064023  0.008205  0.009450        NaN
7     35   60  14460.293472  0.008271  0.008059        NaN
8     35   70  12783.867043  0.008763  0.010938        NaN
9     35   80  14273.495462  0.008633  0.014764        NaN
10    35   90  20517.297277  0.008831  0.009884        NaN
11    35  100  14423.149979  0.008890  0.009523        NaN
12    40  100  18045.602573  0.007363  0.008959  28.512571
13    40   90  18527.040209  0.007810  0.007259  28.260000
14    40   80  14229.235629  0.007540  0.010172  27.592000
15    40   70  15257.136605  0.007582  0.013891  26.998000
16    40   60  27306.615043  0.007612  0.009337  26.329000
17    40   50  14808.432193  0.007819  0.008591  25.920000
18    40  100  10370.463310  0.007623  0.007800  28.494714
19    40   90  12436.771443  0.007734  0.006666  28.254000
20    40   80  11134.772219  0.007966  0.009311  27.574000
21    40   70  12700.765497  0.007570  0.013072  26.965000
22    40   60  18562.877061  0.007827  0.008185  26.285000
23    40   50  14402.790343  0.007695  0.008516  25.896000
24    40  100  16641.248430  0.007680  0.008718  28.517429
25    40   90  16742.394808  0.007287  0.007439  28.264000
26    40   80  16127.617984  0.008345  0.009962  27.595000
27    40   70  13747.653421  0.008179  0.013117  26.989000
28    40   60  20378.618383  0.008054  0.008413  26.306000
29    40   50  16314.781435  0.007974  0.008126  25.908000

In [31]:
phi_3_df_new.head(37)

                                                phi_3
0      [8.85523617e-03 1.04086100e-02 1.30010233e+04]
1      [8.93231610e-03 8.99726919e-03 1.30185181e+04]
2      [9.57475345e-03 1.20616743e-02 1.17371921e+04]
3      [9.48956791e-03 1.61688469e-02 1.46451391e+04]
4      [9.83028486e-03 1.11223137e-02 1.89518911e+04]
5      [9.95109321e-03 1.06348378e-02 1.36709653e+04]
6      [8.20522396e-03 9.45049645e-03 1.40100640e+04]
7      [8.27139505e-03 8.05929811e-03 1.44602935e+04]
8      [8.76251463e-03 1.09381673e-02 1.27838670e+04]
9      [8.63327676e-03 1.47643999e-02 1.42734955e+04]
10     [8.83063743e-03 9.88373347e-03 2.05172973e+04]
11     [8.89023990e-03 9.52274893e-03 1.44231500e+04]
12     [7.36342323e-03 8.95934134e-03 1.80456026e+04]
13     [7.81015320e-03 7.25943727e-03 1.85270402e+04]
14     [7.54010425e-03 1.01715500e-02 1.42292356e+04]
15     [7.58153971e-03 1.38910090e-02 1.52571366e+04]
16     [7.61150860e-03 9.33678388e-03 2.73066150e+04]
17     [7.81893004e-03 8.59053498e-03 1.48084322e+04]
18     [7.62253098e-03 7.80007025e-03 1.03704633e+04]
19     [7.73418816e-03 6.66564901e-03 1.24367714e+04]
20     [7.96565458e-03 9.31050535e-03 1.11347722e+04]
21     [7.57040476e-03 1.30715656e-02 1.27007655e+04]
22     [7.82728807e-03 8.18539929e-03 1.85628771e+04]
23     [7.69507003e-03 8.51587749e-03 1.44027903e+04]
24     [7.67968106e-03 8.71773724e-03 1.66412484e+04]
25     [7.28708061e-03 7.43889479e-03 1.67423948e+04]
26     [8.34506859e-03 9.96192562e-03 1.61276180e+04]
27     [8.17901235e-03 1.31172840e-02 1.37476534e+04]
28     [8.05417329e-03 8.41327656e-03 2.03786184e+04]
29     [7.97415969e-03 8.12556778e-03 1.63147814e+04]
30     [9.11101319e-02 5.43369788e-02 1.15131821e+05]
31     [6.53457601e-02 4.93126770e-02 4.29356959e+04]
32     [0.00000000e+00 0.00000000e+00 1.13686838e-10]
33     [1.00000000e-01 6.56588530e-02 8.21637253e+04]
34     [1.00000000e-01 6.60840011e-02 3.39824048e+04]
35     [0.00000000e+00 0.00000000e+00 2.84217094e-11]
36  [     0.              0.         296275.04632516]

In [23]:
phi_3_outliers_df.head(9)

                                            Outliers
0     [    0.             0.         62317.83082939]
1     [0.00000000e+00 7.55967181e-02 1.00000000e+06]
2     [0.00000000e+00 1.00000000e-01 4.48009141e+05]
3     [5.64616588e-03 1.00000000e-01 4.96734215e+04]
4  [     0.              0.         866340.18860587]
5  [     0.              0.         409769.40274436]
6  [     0.              0.         258235.70661106]
7     [0.00000000e+00 1.00000000e-01 1.49726903e+05]
8     [0.00000000e+00 1.00000000e-01 1.54850955e+05]

In [25]:
phi_3_history_theta_df.describe()

                                         history_theta
count                                               16
unique                                              16
top     [9.11101319e-02 5.43369788e-02 1.15131821e+05]
freq                                                 1

In [28]:
samples = phi_3_df_new['phi_3'].values

In [ ]:
plotting_utils.samples_and_outliers(samples=,outliers=)