In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path1 = '../../../data/external/DT_CU1_parameters_1_exp.xlsx'  
all_sheets = pd.read_excel(file_path1, sheet_name=None)

print(all_sheets.keys())

dict_keys(['T = 25', 'T = 10', 'T = 40'])

In [3]:
df_list = []
for sheet_name, df in all_sheets.items():
    print(f"Sheet name: {sheet_name}")
    df_list.append(df)

Sheet name: T = 25
Sheet name: T = 10
Sheet name: T = 40

In [4]:
df_T_25 = df_list[0]
df_T_10 = df_list[1]
df_T_40 = df_list[2]

In [5]:
df_T_40.describe()

,Soc,tau_guess,skip,num value extrap,R_0,R_1,C_1,OCV
count,33.000000,33.00000,33.0,33.0,33.000000,33.000000,33.000000,33.000000
mean,50.000000,1655.86661,0.0,7.0,0.008112,0.010369,18274.880601,26.234325
std,32.113081,0.00000,0.0,0.0,0.000582,0.002728,7076.295223,1.393025
min,0.000000,1655.86661,0.0,7.0,0.007287,0.006666,10131.783114,24.170000
25%,20.000000,1655.86661,0.0,7.0,0.007695,0.008591,13999.400600,25.079000
50%,50.000000,1655.86661,0.0,7.0,0.008047,0.009720,16565.033981,25.908000
75%,80.000000,1655.86661,0.0,7.0,0.008345,0.011449,20378.618383,27.574000
max,100.000000,1655.86661,0.0,7.0,0.009993,0.017574,41591.069006,28.517429

In [6]:
columns_to_drop = ['filename', 'data', 'start interval', 'end interval',
                   'tau_guess','num value extrap',
                   'R squared', 'tau_opt', 'R_0', 'R_1', 'C_1']

In [7]:
df_T_25 = df_T_25.drop(columns_to_drop, axis=1)
df_T_10 = df_T_10.drop(columns_to_drop, axis=1)
df_T_40 = df_T_40.drop(columns_to_drop, axis=1)

In [8]:
df_T_25 = df_T_25.dropna()
df_T_10 = df_T_10.dropna()
df_T_40 = df_T_40.dropna()

In [9]:
df_T_25['Temp'] = 25
df_T_10['Temp'] = 10
df_T_40['Temp'] = 40

In [10]:
df_T_25['Soc'] = df_T_25['Soc'] * 0.01
df_T_10['Soc'] = df_T_10['Soc'] * 0.01
df_T_40['Soc'] = df_T_40['Soc'] * 0.01

In [11]:
df_T_25.describe()

             Soc        OCV  Temp
count  55.000000  55.000000  55.0
mean    0.500000  26.224236  25.0
std     0.319142   1.375532   0.0
min     0.000000  23.970000  25.0
25%     0.200000  25.142500  25.0
50%     0.500000  25.868000  25.0
75%     0.800000  27.550000  25.0
max     1.000000  28.504571  25.0

In [12]:
df_T_25.head(13)

    Soc        OCV  Temp
0   1.0  28.455000    25
1   0.9  28.216000    25
2   0.8  27.544000    25
3   0.7  26.939000    25
4   0.6  26.254000    25
5   0.5  25.867000    25
6   0.4  25.625000    25
7   0.3  25.409000    25
8   0.2  25.057000    25
9   0.1  24.654000    25
10  0.0  24.127000    25
11  1.0  28.504571    25
12  0.9  28.259000    25

In [13]:
df_T_25.tail()

    Soc     OCV  Temp
50  0.4  25.610    25
51  0.3  25.401    25
52  0.2  25.041    25
53  0.1  24.615    25
54  0.0  23.970    25

Since experiments are repeated five times for each soc we can group by and average the results

In [14]:
df_T_10_soc_grouped = df_T_10.groupby(['Soc'], as_index=False)['OCV'].mean()
df_T_25_soc_grouped = df_T_25.groupby(['Soc'], as_index=False)['OCV'].mean()
df_T_40_soc_grouped = df_T_40.groupby(['Soc'], as_index=False)['OCV'].mean()

In [15]:
df_T_40_soc_grouped.head(11)

    Soc        OCV
0   0.0  24.201333
1   0.1  24.670667
2   0.2  25.067333
3   0.3  25.430333
4   0.4  25.654667
5   0.5  25.908000
6   0.6  26.306667
7   0.7  26.984000
8   0.8  27.587000
9   0.9  28.259333
10  1.0  28.508238

In [16]:
soc_missing = np.arange(0.05,1.,0.10)

In [17]:
df_soc_missing = pd.DataFrame({'Soc': soc_missing,
                               'OCV': None})

In [18]:
df_soc_missing.head(10)

    Soc   OCV
0  0.05  None
1  0.15  None
2  0.25  None
3  0.35  None
4  0.45  None
5  0.55  None
6  0.65  None
7  0.75  None
8  0.85  None
9  0.95  None

In [19]:
df_T_40_enhanced = pd.concat([df_soc_missing, df_T_40_soc_grouped],
                             ignore_index=True).sort_values('Soc')
df_T_25_enhanced = pd.concat([df_soc_missing, df_T_25_soc_grouped],
                             ignore_index=True).sort_values('Soc')
df_T_10_enhanced = pd.concat([df_soc_missing, df_T_10_soc_grouped],
                             ignore_index=True).sort_values('Soc')

In [20]:
df_T_40_enhanced.head(21)

     Soc        OCV
10  0.00  24.201333
0   0.05        NaN
11  0.10  24.670667
1   0.15        NaN
12  0.20  25.067333
2   0.25        NaN
13  0.30  25.430333
3   0.35        NaN
14  0.40  25.654667
4   0.45        NaN
15  0.50  25.908000
5   0.55        NaN
16  0.60  26.306667
6   0.65        NaN
17  0.70  26.984000
7   0.75        NaN
18  0.80  27.587000
8   0.85        NaN
19  0.90  28.259333
9   0.95        NaN
20  1.00  28.508238

In [21]:
df_T_10_interpolated = df_T_10_enhanced.interpolate(method='linear')
df_T_25_interpolated = df_T_25_enhanced.interpolate(method='linear')
df_T_40_interpolated = df_T_40_enhanced.interpolate(method='linear')

In [22]:
df_T_40_interpolated.head(21)

     Soc        OCV
10  0.00  24.201333
0   0.05  24.436000
11  0.10  24.670667
1   0.15  24.869000
12  0.20  25.067333
2   0.25  25.248833
13  0.30  25.430333
3   0.35  25.542500
14  0.40  25.654667
4   0.45  25.781333
15  0.50  25.908000
5   0.55  26.107333
16  0.60  26.306667
6   0.65  26.645333
17  0.70  26.984000
7   0.75  27.285500
18  0.80  27.587000
8   0.85  27.923167
19  0.90  28.259333
9   0.95  28.383786
20  1.00  28.508238

In [23]:
df_T_10_final = df_T_10_interpolated.reset_index(drop= True)
df_T_25_final = df_T_25_interpolated.reset_index(drop= True)
df_T_40_final = df_T_40_interpolated.reset_index(drop= True)

In [24]:
df_T_10_final['Temp'] = 10
df_T_25_final['Temp'] = 25
df_T_40_final['Temp'] = 40

In [25]:
df_T_40_final.head(21)

     Soc        OCV  Temp
0   0.00  24.201333    40
1   0.05  24.436000    40
2   0.10  24.670667    40
3   0.15  24.869000    40
4   0.20  25.067333    40
5   0.25  25.248833    40
6   0.30  25.430333    40
7   0.35  25.542500    40
8   0.40  25.654667    40
9   0.45  25.781333    40
10  0.50  25.908000    40
11  0.55  26.107333    40
12  0.60  26.306667    40
13  0.65  26.645333    40
14  0.70  26.984000    40
15  0.75  27.285500    40
16  0.80  27.587000    40
17  0.85  27.923167    40
18  0.90  28.259333    40
19  0.95  28.383786    40
20  1.00  28.508238    40

In [26]:
df_T_concatenated = pd.concat([df_T_10_final,df_T_25_final,df_T_40_final])

In [27]:
df_T_concatenated.describe()

             Soc        OCV       Temp
count  63.000000  63.000000  63.000000
mean    0.500000  26.209074  25.000000
std     0.305197   1.313436  12.345823
min     0.000000  24.196000  10.000000
25%     0.250000  25.229500  10.000000
50%     0.500000  25.882600  25.000000
75%     0.750000  27.276150  40.000000
max     1.000000  28.508238  40.000000

In [28]:
soc = np.arange(0.00,1.05,0.05)
df_tmp_20 = pd.DataFrame({
    'Soc' : soc,
    'Temp': 20,
    'OCV': None
})
df_tmp_30 = pd.DataFrame({
    'Soc' : soc,
    'Temp': 30,
    'OCV': None
})

In [29]:
df_T_enhanced = pd.concat([df_T_concatenated,df_tmp_20, df_tmp_30], ignore_index=True).sort_values('Temp')

In [33]:
df_T_enhanced.head(40)

     Soc        OCV  Temp
0   0.00  24.352667    10
20  1.00  28.448000    10
18  0.90  28.218667    10
17  0.85  27.874833    10
16  0.80  27.531000    10
15  0.75  27.216500    10
14  0.70  26.902000    10
13  0.65  26.554667    10
12  0.60  26.207333    10
11  0.55  26.017833    10
19  0.95  28.333333    10
9   0.45  25.706000    10
8   0.40  25.583667    10
7   0.35  25.481667    10
6   0.30  25.379667    10
5   0.25  25.210167    10
4   0.20  25.040667    10
3   0.15  24.819167    10
2   0.10  24.597667    10
1   0.05  24.475167    10
10  0.50  25.828333    10
68  0.25        NaN    20
67  0.20        NaN    20
63  0.00        NaN    20
65  0.10        NaN    20
64  0.05        NaN    20
69  0.30        NaN    20
66  0.15        NaN    20
70  0.35        NaN    20
75  0.60        NaN    20
72  0.45        NaN    20
73  0.50        NaN    20
74  0.55        NaN    20
76  0.65        NaN    20
77  0.70        NaN    20
78  0.75        NaN    20
79  0.80        NaN    20
82  0.95        NaN    20
71  0.40        NaN    20
83  1.00        NaN    20

In [31]:
df_T_interpolated = df_T_enhanced.interpolate(method='linear')

In [35]:
df_T_interpolated.head(70)

      Soc        OCV  Temp
0    0.00  24.352667    10
20   1.00  28.448000    10
18   0.90  28.218667    10
17   0.85  27.874833    10
16   0.80  27.531000    10
..    ...        ...   ...
100  0.80  28.367389    30
99   0.75  28.368252    30
98   0.70  28.369115    30
97   0.65  28.369978    30
96   0.60  28.370841    30

[70 rows x 3 columns]

In [36]:
df_T_final = df_T_interpolated.reset_index(drop= True)

In [39]:
df_T_final.head(81)

     Soc        OCV  Temp
0   0.00  24.352667    10
1   1.00  28.448000    10
2   0.90  28.218667    10
3   0.85  27.874833    10
4   0.80  27.531000    10
..   ...        ...   ...
76  0.25  28.376882    30
77  0.20  28.377745    30
78  0.15  28.378608    30
79  0.10  28.379471    30
80  0.00  28.380334    30

[81 rows x 3 columns]

In [59]:
df_T_final['Soc'] = df_T_final['Soc'].round(2)

In [60]:
df_T_final_sorted= df_T_final.sort_values(by=['Temp', 'Soc']).reset_index(drop=True)

In [62]:
print(df_T_final_sorted)

      Soc        OCV  Temp
0    0.00  24.352667    10
1    0.05  24.475167    10
2    0.10  24.597667    10
3    0.15  24.819167    10
4    0.20  25.040667    10
..    ...        ...   ...
100  0.80  27.587000    40
101  0.85  27.923167    40
102  0.90  28.259333    40
103  0.95  28.383786    40
104  1.00  28.508238    40

[105 rows x 3 columns]

In [63]:
df_T_final_sorted.to_csv('voc_table_module.csv',index=False)