In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../../../data/ground/experiment_signals/dataset_0_cutted.csv')

In [3]:
df.describe()

         Unnamed: 0          time       voltage       current   temperature
count  3.010000e+06  3.010000e+06  3.010000e+06  3.010000e+06  3.010000e+06
mean   1.505000e+06  1.534343e+06  2.593253e+01  8.675827e-02  3.140355e+02
std    8.689123e+05  8.858537e+05  9.063754e-01  1.933831e+01  5.707227e+00
min    0.000000e+00  0.000000e+00  2.357853e+01 -2.395300e+01  2.993289e+02
25%    7.524998e+05  7.671718e+05  2.533721e+01 -2.171000e+01  3.099827e+02
50%    1.505000e+06  1.534344e+06  2.610318e+01  1.041000e+00  3.124224e+02
75%    2.257499e+06  2.301514e+06  2.662984e+01  1.620900e+01  3.152154e+02
max    3.009999e+06  3.068685e+06  2.799306e+01  3.255100e+01  3.323982e+02

In [4]:
df = df.iloc[0:100000]

In [5]:
df.describe()

,Unnamed: 0,time,voltage,current,temperature
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,49999.500000,50974.661720,26.386989,0.240681,313.145028
std,28867.657797,29430.482098,0.853480,19.311969,4.607390
min,0.000000,0.000000,24.307282,-23.953000,299.328949
25%,24999.750000,25486.750000,25.802238,-21.603000,309.894957
50%,49999.500000,50974.500000,26.462564,1.041000,312.254000
75%,74999.250000,76462.250000,27.064334,16.262000,314.236132
max,99999.000000,101949.000000,27.993060,32.551000,325.630943

In [6]:
df.to_csv('dataset_0_cuttedX10.csv', index=False)