In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../../../data/ground/experiment_signals/dataset_0_cutted.csv')

In [3]:
df.describe()

         Unnamed: 0          time       voltage       current   temperature
count  3.010000e+06  3.010000e+06  3.010000e+06  3.010000e+06  3.010000e+06
mean   1.505000e+06  1.534343e+06  2.593253e+01  8.675827e-02  3.140355e+02
std    8.689123e+05  8.858537e+05  9.063754e-01  1.933831e+01  5.707227e+00
min    0.000000e+00  0.000000e+00  2.357853e+01 -2.395300e+01  2.993289e+02
25%    7.524998e+05  7.671718e+05  2.533721e+01 -2.171000e+01  3.099827e+02
50%    1.505000e+06  1.534344e+06  2.610318e+01  1.041000e+00  3.124224e+02
75%    2.257499e+06  2.301514e+06  2.662984e+01  1.620900e+01  3.152154e+02
max    3.009999e+06  3.068685e+06  2.799306e+01  3.255100e+01  3.323982e+02

In [4]:
df = df.iloc[0:16000]

In [5]:
df.describe()

         Unnamed: 0          time       voltage       current   temperature
count  16000.000000  16000.000000  16000.000000  16000.000000  16000.000000
mean    7999.500000   8155.785125     26.347364      0.299088    313.354667
std     4618.946489   4708.900890      0.799956     19.420795      4.784946
min        0.000000      0.000000     24.412867    -23.953000    299.328949
25%     3999.750000   4078.750000     25.792421    -21.763000    310.167158
50%     7999.500000   8155.500000     26.428574      1.095000    312.848216
75%    11999.250000  12233.250000     26.964680     16.423000    314.854880
max    15999.000000  16311.000000     27.863297     32.551000    325.237038

In [6]:
df.to_csv('dataset_0_cutted16000samples.csv', index=False)